{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" id="home">
   <div class="space"></div>

   <div class="row">
      <form class="col s12" action="{% url 'addstudent' %}" method="post">
         {% csrf_token %}
         <div class="row">
            <div class="input-field col s6">
               <input id="first_name" type="text" class="validate" required name="first_name">
               <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
               <input id="last_name" type="text" name="last_name">
               <label for="last_name">Last Name</label>
            </div>

            <div class="input-field col s12">
               <input id="email_inline" type="email" class="validate" required name="email">
               <label for="email_inline">Email</label>
               <span class="helper-text" data-error="plz provide valid email" data-success="valid email"></span>
            </div>

            <div class="input-field col s12">
               <select  class="browser-default" name="schoolName" required >
                  <option value="" selected disabled>Choose School Name</option>
                  {% if schools %}
                  {% for school in schools %}
                  <option value="{{school.id}}">{{school.name}}</option>
                  {% endfor %}
                  {% endif %}

               </select>
            </div>

            <div class="input-field col s5 text-black">
               <select class="browser-default" class="validate"  name="book" required>
                  <option value="" selected disabled>Choose Book Name</option>
                  {% if books %}
                  {% for book in books %}
                  <option value="{{book.id}}">{{book.name}}</option>
                  {% endfor %}
                  {% endif %}
               </select>
            </div>
            <div class="input-field col s7">

               <row>
                  <div class="col s6">
                     <input id="pageCount" type="number" class="validate" required name="count">
                     <label for="pageCount">page count</label>
                  </div>
                  <div class="col s6">
                     <select class="browser-default" name="gender">
                        <option value="" selected disabled>select gender</option>
                        {% if gender %}
                        {% for option in gender %}
                        <option value="{{option.0}}">{{option.1}}</option>
                        {% endfor %}
                        {% endif %}
                     </select>
                     <label>School Name</label>
                  </div>
               </row>

            </div>
            <div class="col s12">
               <br>
               <br>
            </div>
            <div class="col s6 right">

               <button class="btn waves-effect waves-light green" style="width: 100%;" type="submit"
                  name="action">Submit
                  <i class="material-icons right">send</i>
               </button>
            </div>
         </div>
      </form>
   </div>
</div>


<div class="container" id="search">
   <div class="space">

   </div>
   <div class="row">
      <form class="col s12" action="{% url 'index' %}" method="post">
         {% csrf_token %}
         <div class="row">
            <div class="input-field col s6">
               <input placeholder="userid" id="first_name" type="number" class="validate" name="userId">
               <label for="first_name">Search using userid</label>
            </div>
            <div class="input-field col s6">
               <input placeholder="username" id="last_name" type="text" class="validate" name="userName">
               <label for="last_name">search using username</label>
            </div>
            <div class="space"></div>
            <div class="col s6 right">

               <button class="btn waves-effect waves-light green" style="width: 100%;" type="submit"
                  name="action">Search
                  <i class="material-icons right">search</i>
               </button>
            </div>

         </div>
      </form>


      {% if students|length %}
      <table class="container">
         <thead>
            <tr>
               <th>first_name</th>
               <th>last_name</th>
               <th>Email</th>
               <th>Gender</th>
               <th>School</th>
               <th>School Number</th>
               <th>Book</th>
               <th>page read count</th>
            </tr>
         </thead>
         <tbody>
            {% for student in students %}
            <tr>
               <td>{{student.first_name}}</td>
               <td>{{student.last_name}}</td>
               <td>{{student.email}}</td>
               {% if student.gender == 'M' %}
               <td>Male</td>
               {% elif student.gender == 'F' %}
               <td>Female</td>
               {% else %}
               <td> </td>
               {% endif %}
               <td>{{student.school}}</td>
               <td>{{student.school.phone_number}}</td>
               <td>{{student.book.name}}</td>
               <td>{{student.pages_read_count}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% else  %}
      {% endif %}


   </div>
</div>




{% endblock content %}